/* Контейнер для ленты рецептов */
.feed-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100vh - 200px); /* Учитываем верхнюю и нижнюю панели */
    padding: 15px 8px; /* Отступы слева и справа по 8px */
}

/* Контейнер для рецептов */
#recipes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
}

/* Карточка рецепта */
.recipe-card {
    min-height: 120px;
    display: flex;
    align-items: center;
    background: #FDFDFD;
    border-radius: 20px;
    padding: 5px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Фото блюда */
.recipe-card img {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    object-fit: cover;
    margin: 5px; /* Отступ сверху, снизу и слева */
    background: #E0E0E0; /* Заглушка пока без фото */
}

/* Контейнер для текста */
.recipe-info {
    flex-grow: 1;
    padding-left: 10px;
}

/* Заголовок рецепта */
.recipe-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #101213; /* Цвет текста */
    padding-top: 8px; /* Отступ сверху */
}

/* Краткое описание */
.recipe-description {
    font-size: 14px;
    color: #C2C5C3; /* Цвет описания */
    margin-top: 5px;
}

/* Кнопка "Добавить в избранное" */
.favorite-button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    border: 2px solid #5D7B76;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

/* Кнопка "Начать" */
.start-button {
    position: absolute;
    bottom: 4px;
    right: 8px;
    background: #5D7B76;
    color: #FFFFFF;
    border: none;
    padding: 8px 15px;
    border-radius: 34px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s;
}

.start-button:hover {
    background: #4A5B50;
}
